*{
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navbar-list ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-list ul li {
    margin-left: 50px;
}

.navbar-list ul li a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    display: block;
}